doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title ЕГЭ, тесты по математике
		link(rel="stylesheet", href="css/base.css")
		link(rel="stylesheet", href="css/nav.css")
		link(rel="stylesheet", href="css/jumbotron.css")
		link(rel="stylesheet", href="css/main.css")
		//- script(src="https://code.jquery.com/jquery-3.1.1.min.js", defer)
		//- script(src="js/main.js", defer)
	body
		.nav
			.container
				h3.title PROJECT TITLE
				p.about-link О ПРОЕКТЕ
		.jumbotron
			h1 ТЕСТЫ ЕГЭ ПО МАТЕМАТИКЕ
		.main.container
			h2 ГОТОВЫЕ ВАРИАНТЫ
			.variants
				.variant 1 Вариант
				.variant 2 Вариант
				.variant 3 Вариант
				.variant 4 Вариант
				.variant 5 Вариант
				.variant 6 Вариант
				.variant 7 Вариант
				.variant 8 Вариант
			h2.inline-block НАСТРАИВАЕМЫЙ ВАРИАНТ
			.generate-btn Сгенерировать вариант
			.generator
				.item
					.theme 1. Простейшие текстовые задачи
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 2. Чтение графиков и диаграмм
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 3. Квадратная решётка, координатная плоскость
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 4. Начала теории вероятностей
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 5. Простейшие уравнения
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 6. Планеметрия: задачи, связанные с углами
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 7. Производная и первообразная
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 8. Стереометрия
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 9. Вычислительные преобразования
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 10. Задачи с прикладным содержанием
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 11. Текстовые задачи
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +
				.item
					.theme 12. Наибольшее и наименьшее значение функций
					.questions
						span Вопросов:
						.count 1
						.dec-btn –
						.inc-btn +